# Secrets
.env

# AdGuard runtime/state (do not version)
apps/adguardhome/data/work/
apps/adguardhome/data/conf/

# General runtime data you never want in git
**/data/
**/work/
**/conf/
**/*.db
**/*.json
**/*.log

# MeTube runtime state (do not version)
apps/metube/downloads/
apps/metube/downloads/**

# Optional: if you want to version only an empty downloads dir, keep this commented:
# !apps/metube/downloads/.gitkeep

# Caches
model-cache/

# Logs
*.log

# OS
.DS_Store

