name: iptvnator

services:
  iptvnator:
    image: 4gray/iptvnator:latest
    container_name: iptvnator
    restart: unless-stopped

    # IPTVnator web UI is served on port 80 in the container
    networks:
      - proxy

    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy

      #lan
      - traefik.http.routers.iptvnator.rule=Host(`iptv.lan.timscloud.net`)
      - traefik.http.routers.iptvnator.entrypoints=web
      #public (later)
      #

      - traefik.http.services.iptvnator.loadbalancer.server.port=80

    volumes:
      # Persist IPTVnator app data/settings
      - iptvnator_data:/app/data

volumes:
  iptvnator_data:

networks:
  proxy:
    external: true
